<a href="https://colab.research.google.com/github/gzawadzki/pandas_exercises_guisamora/blob/main/04_Apply.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import numpy as np
import requests
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

In [ ]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv'
crime = pd.read_csv(url)



### Step 3. Assign it to a variable called crime.

### Step 4. What is the type of the columns?

In [ ]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [ ]:
crime.Year = pd.to_datetime(crime.Year, format='%Y')
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                55 non-null     datetime64[ns]
 1   Population          55 non-null     int64
 2   Total               55 non-null     int64
 3   Violent             55 non-null     int64
 4   Property            55 non-null     int64
 5   Murder              55 non-null     int64
 6   Forcible_Rape       55 non-null     int64
 7   Robbery             55 non-null     int64
 8   Aggravated_assault  55 non-null     int64
 9   Burglary            55 non-null     int64
 10  Larceny_Theft       55 non-null     int64
 11  Vehicle_Theft       55 non-null     int64
dtypes: datetime64[ns](1), int64(11)
memory usage: 5.3 KB

In [ ]:
crime.Year.head()

0   1960-01-01
1   1961-01-01
2   1962-01-01
3   1963-01-01
4   1964-01-01
Name: Year, dtype: datetime64[ns]

### Step 6. Set the Year column as the index of the dataframe

In [ ]:
crime.set_index('Year',inplace=True)

### Step 7. Delete the Total column

In [ ]:
crime.drop('Total',inplace=True, axis=1)
crime.head()

KeyError: ignored

In [ ]:
crime.dtypes

Population            int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [ ]:
crimes = crime.resample('10AS').sum()
population = crime['Population'].resample('10AS').max()
crimes['Population'] = population

crimes

            Population   Violent  ...  Larceny_Theft  Vehicle_Theft
Year                              ...
1960-01-01   201385000   4134930  ...       26547700        5292100
1970-01-01   220099000   9607930  ...       53157800        9739900
1980-01-01   248239000  14074328  ...       72040253       11935411
1990-01-01   272690813  17527048  ...       77679366       14624418
2000-01-01   307006550  13968056  ...       67970291       11412834
2010-01-01   318857056   6072017  ...       30401698        3569080

[6 rows x 10 columns]

### Step 9. What is the most dangerous decade to live in the US?

In [ ]:
crimes['Crimes_per_pop'] = crimes.iloc[:,1:10].sum(axis=1) / crimes.Population
crimes

            Population   Violent  ...  Vehicle_Theft  Crimes_per_pop
Year                              ...
1960-01-01   201385000   4134930  ...        5292100        0.489568
1970-01-01   220099000   9607930  ...        9739900        0.917693
1980-01-01   248239000  14074328  ...       11935411        1.056428
1990-01-01   272690813  17527048  ...       14624418        1.001731
2000-01-01   307006550  13968056  ...       11412834        0.748612
2010-01-01   318857056   6072017  ...        3569080        0.314473

[6 rows x 11 columns]

the most dangerous was decade 1980- 1990