<a href="https://colab.research.google.com/github/gzawadzki/pandas_exercises_guisamora/blob/main/10_Deleting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

In [ ]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data'

### Step 3. Assign it to a variable called wine

In [ ]:
cols = np.arange(1,15)
wine = pd.read_csv(url, names = cols)
wine.head()

   1      2     3     4     5    6   ...    9     10    11    12    13    14
0   1  14.23  1.71  2.43  15.6  127  ...  0.28  2.29  5.64  1.04  3.92  1065
1   1  13.20  1.78  2.14  11.2  100  ...  0.26  1.28  4.38  1.05  3.40  1050
2   1  13.16  2.36  2.67  18.6  101  ...  0.30  2.81  5.68  1.03  3.17  1185
3   1  14.37  1.95  2.50  16.8  113  ...  0.24  2.18  7.80  0.86  3.45  1480
4   1  13.24  2.59  2.87  21.0  118  ...  0.39  1.82  4.32  1.04  2.93   735

[5 rows x 14 columns]

In [ ]:
wine.columns

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], dtype='int64')

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [ ]:
wine.drop([1, 4, 7, 9, 11, 13, 14], axis=1, inplace=True)

In [ ]:
wine

        2     3     5    6     8     10    12
0    14.23  1.71  15.6  127  3.06  2.29  1.04
1    13.20  1.78  11.2  100  2.76  1.28  1.05
2    13.16  2.36  18.6  101  3.24  2.81  1.03
3    14.37  1.95  16.8  113  3.49  2.18  0.86
4    13.24  2.59  21.0  118  2.69  1.82  1.04
..     ...   ...   ...  ...   ...   ...   ...
173  13.71  5.65  20.5   95  0.61  1.06  0.64
174  13.40  3.91  23.0  102  0.75  1.41  0.70
175  13.27  4.28  20.0  120  0.69  1.35  0.59
176  13.17  2.59  20.0  120  0.68  1.46  0.60
177  14.13  4.10  24.5   96  0.76  1.35  0.61

[178 rows x 7 columns]

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [ ]:
c = ['alcohol', 'malic_acid', 'alcalinity_of_ash',
     'magnesium', 'falavanoids', 'proanthocyanins', 'hue']

In [ ]:
wine.set_axis(c, inplace = True, axis=1)
wine.head()

   alcohol  malic_acid  alcalinity_of_ash  ...  falavanoids  proanthocyanins   hue
0    14.23        1.71               15.6  ...         3.06             2.29  1.04
1    13.20        1.78               11.2  ...         2.76             1.28  1.05
2    13.16        2.36               18.6  ...         3.24             2.81  1.03
3    14.37        1.95               16.8  ...         3.49             2.18  0.86
4    13.24        2.59               21.0  ...         2.69             1.82  1.04

[5 rows x 7 columns]

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [ ]:
wine.alcohol.iloc[:3] = np.nan

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [ ]:
wine.magnesium.iloc[3:5] = np.nan

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [ ]:
wine.alcohol.fillna(10, inplace=True)
wine.magnesium.fillna(100, inplace=True)
wine.head()

   alcohol  malic_acid  alcalinity_of_ash  ...  falavanoids  proanthocyanins   hue
0    10.00        1.71               15.6  ...         3.06             2.29  1.04
1    10.00        1.78               11.2  ...         2.76             1.28  1.05
2    10.00        2.36               18.6  ...         3.24             2.81  1.03
3    14.37        1.95               16.8  ...         3.49             2.18  0.86
4    13.24        2.59               21.0  ...         2.69             1.82  1.04

[5 rows x 7 columns]

### Step 9. Count the number of missing values

In [ ]:
wine.isnull().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
falavanoids          0
proanthocyanins      0
hue                  0
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10

In [ ]:
random = np.random.randint(0, 10, size=10)
random

array([7, 1, 2, 1, 8, 3, 4, 9, 3, 4])

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [ ]:
wine.alcohol[random] = np.nan

### Step 12.  How many missing values do we have?

In [ ]:
wine.isnull().sum()

alcohol              7
malic_acid           0
alcalinity_of_ash    0
magnesium            0
falavanoids          0
proanthocyanins      0
hue                  0
dtype: int64

### Step 13. Delete the rows that contain missing values

In [ ]:
wine.dropna(inplace=True)

### Step 14. Print only the non-null values in alcohol

In [ ]:
wine[wine.alcohol.notnull()]

     alcohol  malic_acid  alcalinity_of_ash  ...  falavanoids  proanthocyanins   hue
0      10.00        1.71               15.6  ...         3.06             2.29  1.04
5      14.20        1.76               15.2  ...         3.39             1.97  1.05
6      14.39        1.87               14.6  ...         2.52             1.98  1.02
10     14.10        2.16               18.0  ...         3.32             2.38  1.25
11     14.12        1.48               16.8  ...         2.43             1.57  1.17
..       ...         ...                ...  ...          ...              ...   ...
173    13.71        5.65               20.5  ...         0.61             1.06  0.64
174    13.40        3.91               23.0  ...         0.75             1.41  0.70
175    13.27        4.28               20.0  ...         0.69             1.35  0.59
176    13.17        2.59               20.0  ...         0.68             1.46  0.60
177    14.13        4.10               24.5  ...         0.76             1.35  0.61

[171 rows x 7 columns]

### Step 15.  Reset the index, so it starts with 0 again

In [ ]:
wine.reset_index(inplace=True, drop=True)
wine

     alcohol  malic_acid  alcalinity_of_ash  ...  falavanoids  proanthocyanins   hue
0      10.00        1.71               15.6  ...         3.06             2.29  1.04
1      14.20        1.76               15.2  ...         3.39             1.97  1.05
2      14.39        1.87               14.6  ...         2.52             1.98  1.02
3      14.10        2.16               18.0  ...         3.32             2.38  1.25
4      14.12        1.48               16.8  ...         2.43             1.57  1.17
..       ...         ...                ...  ...          ...              ...   ...
166    13.71        5.65               20.5  ...         0.61             1.06  0.64
167    13.40        3.91               23.0  ...         0.75             1.41  0.70
168    13.27        4.28               20.0  ...         0.69             1.35  0.59
169    13.17        2.59               20.0  ...         0.68             1.46  0.60
170    14.13        4.10               24.5  ...         0.76             1.35  0.61

[171 rows x 7 columns]

### BONUS: Create your own question and answer it.

## drop rows with values of alcohol between 10.5 and 12.9

In [ ]:
wine

     alcohol  malic_acid  alcalinity_of_ash  ...  falavanoids  proanthocyanins   hue
0      10.00        1.71               15.6  ...         3.06             2.29  1.04
1      14.20        1.76               15.2  ...         3.39             1.97  1.05
2      14.39        1.87               14.6  ...         2.52             1.98  1.02
3      14.10        2.16               18.0  ...         3.32             2.38  1.25
4      14.12        1.48               16.8  ...         2.43             1.57  1.17
..       ...         ...                ...  ...          ...              ...   ...
166    13.71        5.65               20.5  ...         0.61             1.06  0.64
167    13.40        3.91               23.0  ...         0.75             1.41  0.70
168    13.27        4.28               20.0  ...         0.69             1.35  0.59
169    13.17        2.59               20.0  ...         0.68             1.46  0.60
170    14.13        4.10               24.5  ...         0.76             1.35  0.61

[171 rows x 7 columns]

In [ ]:
mask = wine.alcohol.between(10.5, 12.9)
wine = wine[mask]
wine

     alcohol  malic_acid  alcalinity_of_ash  ...  falavanoids  proanthocyanins   hue
16     12.85        1.60               17.8  ...         2.37             1.46  1.09
52     12.37        0.94               10.6  ...         0.57             0.42  1.05
53     12.33        1.10               16.0  ...         1.09             0.41  1.25
54     12.64        1.36               16.8  ...         1.41             0.62  0.98
56     12.37        1.13               19.0  ...         3.10             1.87  1.22
..       ...         ...                ...  ...          ...              ...   ...
153    12.36        3.83               21.0  ...         0.92             1.04  0.56
155    12.85        3.27               22.0  ...         0.60             0.96  0.87
160    12.82        3.37               19.5  ...         0.66             0.97  0.72
163    12.20        3.03               19.0  ...         0.49             0.73  0.66
164    12.77        2.39               19.5  ...         0.51             0.64  0.57

[82 rows x 7 columns]